header, 
nav,
main, 
footer {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
}

body {
    font-size: 16px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 100%
}

header {
    align-items: center;
    background-color: darkseagreen;
    padding: 1.9rem;
    font-size: larger;
    border-radius: .7rem;
}


header img {
    width: 200px;
    height: auto;
}

header img {
    border-radius: 2rem;
}

h1 {
    font-size: 1.75rem;
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;
    text-align: center;
}
h2 {
    font-size: 1.25rem;
    text-align: center;
}


footer {
    background-color: darkgreen;
    font-size: 25px;
    padding: 1.9rem;
    font-style: italic;
    text-align: center;
    color: white;
    border-radius: .7rem;
}

